@charset "UTF-8";
:root {
  --primary: #1976d2;
  --primary-txt: #fff;
  --accent: grey;
  --accent-txt: #fff;
  --base: #FFF;
  --base-text: #424242;
  --base-secondary-text: #636363;
  --link-secondary-text: #424242;
  --toc-text: var(--primary);
  --darken-1: rgba(0, 0, 0, .125);
  --darken-2: rgba(0, 0, 0, .25);
  --darken-3: rgba(0, 0, 0, .5);
  --lighten-1: hsla(0, 100%, 100%, .125);
  --lighten-2: hsla(0, 100%, 100%, .25);
  --lighten-3: hsla(0, 100%, 100%, .5);
  --color-hero: ghostwhite;
  --color-platium: #73737a;
  --color-gold: #b7935b;
  --color-error: firebrick;
  --space-1: .125rem;
  --space-2: .25rem;
  --space-3: .5rem;
  --space-4: 1rem;
  --theJdrSize: 1100px;
  --block-text-max-width: 60rem;
  --breakpoint-sm: 34.375rem;
  --breakpoint-md: 45rem;
  --breakpoint-lg: 60rem;
  --breakpoint-xl: 71.25rem;
  --container-margin: 10vw;
  --container-margin-mobile: 3vw;
  --toolbar-height: 3.25rem;
  --font-family: 'Roboto', sans-serif;
  /* Tags */
  /*from https://github.com/d3/d3-scale-chromatic#schemePastel2*/
  --tag1: #b3e2cd;
  --tag2: #fdcdac;
  --tag3: #cbd5e8;
  --tag4: #f4cae4;
  --tag5: #e6f5c9;
  --tag6: #fff2ae;
  --tag7: #f1e2cc;
  --tag8: #cccccc;
  --native-mobile-apps: var(--tag2);
  --web: var(--tag6);
  --method-tools: var(--tag5);
  --big-data-ml-ai: var(--tag3);
  --iot: var(--tag8);
  --cloud: var(--tag4);
  --languages: var(--tag1);
  --wtf: var(--tag7);
  --general: var(--tag8);
  --office-hours: floralwhite;
  --keynote: paleturquoise;
  /* Jumbo section */
  --jumbo-logo-width: 800px;
  --jumbo-overlay-opacity: 0.6;
  /* Partners */
  --partner-support-height: 60px;
  --partner-platinum-height: calc(var(--partner-support-height) * 3);
  --partner-gold-height: calc(var(--partner-support-height) * 2);
  --animation: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  --extruded-dark: 1px 0 0 var(--darken-3);
  --extruded-light: 1px 0 0 var(--lighten-3);
  --box-shadow-1: 0 0 2px 0 rgba(0, 0, 0, 0.07), 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  --box-shadow-2: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  /* Mark */
  --fg-mark-a: white;
  --bg-mark-a: #fb2c17;
  --fg-mark-b: black;
  --bg-mark-b: #ffcc00;
  --fg-mark-t2: white;
  --bg-mark-t2: #11a7e0;
  /* Schedule */
  --base-grid-height: 4.5em;
  /* Footer */
  --footer-bg: #222;
  --footer-fg: #8a8a8a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: #222;
    --base-text: #ddd;
    --primary: #0d47a1;
    --toc-text: #64b5f6;
    --color-hero: #181818;
    --lighten-1: rgba(0, 0, 0, .125);
    --lighten-2: rgba(0, 0, 0, .25);
    --lighten-3: rgba(0, 0, 0, .5);
    --darken-1: hsla(0, 100%, 100%, .125);
    --darken-2: hsla(0, 100%, 100%, .25);
    --darken-3: hsla(0, 100%, 100%, .5);
    --footer-bg: #000;
    --footer-fg: #777;
  }
}

html {
  box-sizing: border-box;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--darken-2);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  outline: thin dotted var(--darken-3);
  outline-offset: var(--space-1);
}

body {
  background: var(--base);
  color: var(--base-text);
  margin: var(--toolbar-height) 0 0;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--toolbar-height));
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

hr {
  border-color: var(--darken-1);
  opacity: .25;
}

p {
  line-height: 1.25;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

.content a, .content a:visited {
  color: var(--toc-text);
}

.language.english::before {
  content: '🇬🇧';
}

.visually-hidden {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

body > main > section.container, body > header.container, body > footer.container {
  padding: 4rem var(--container-margin);
}

body > main {
  flex-grow: 1;
}

body > main > section {
  margin: 2rem var(--container-margin);
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 44.99em) {
  body > main > section {
    margin: 1rem;
  }
}

body > main > section.primary {
  background-color: var(--primary);
  color: var(--primary-txt);
}

body > main > section.accent {
  background-color: var(--accent);
  color: var(--accent-txt);
}

button,
a.btn, span.btn,
input[type=button], input[type=reset], input[type=submit] {
  display: inline-flex;
  align-items: center;
  border: thin solid var(--darken-3);
  background: var(--darken-1);
  padding: var(--space-3);
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .875rem;
  font-weight: 100;
  cursor: pointer;
  text-shadow: var(--extruded-light);
  --focus-color: var(--darken-1);
  --active-color: var(--darken-1);
}

button.btn-lg,
a.btn.btn-lg, span.btn.btn-lg,
input[type=button].btn-lg, input[type=reset].btn-lg, input[type=submit].btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

button.primary,
a.btn.primary, span.btn.primary,
input[type=button].primary, input[type=reset].primary, input[type=submit].primary {
  background-color: var(--primary);
  color: var(--primary-txt);
  text-shadow: var(--extruded-dark);
  --focus-color: var(--lighten-1);
  --active-color: var(--lighten-1);
}

button.btn-icon-only,
a.btn.btn-icon-only, span.btn.btn-icon-only,
input[type=button].btn-icon-only, input[type=reset].btn-icon-only, input[type=submit].btn-icon-only {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--lighten-1);
  border-radius: 50%;
  margin-left: 1ch;
  padding: var(--space-2);
  border-color: transparent;
}

button.btn-icon-only .icon,
a.btn.btn-icon-only .icon, span.btn.btn-icon-only .icon,
input[type=button].btn-icon-only .icon, input[type=reset].btn-icon-only .icon, input[type=submit].btn-icon-only .icon {
  margin: var(--space-2);
  --size: 1.5rem;
  width: var(--size, 1.5rem);
  height: var(--size, 1.5rem);
  display: inline-block;
  content: '';
  background-repeat: no-repeat;
}

button:hover, button:focus,
a.btn:hover,
a.btn:focus, span.btn:hover, span.btn:focus,
input[type=button]:hover,
input[type=button]:focus, input[type=reset]:hover, input[type=reset]:focus, input[type=submit]:hover, input[type=submit]:focus {
  background-image: linear-gradient(to right, var(--focus-color), var(--focus-color) 100%);
  text-decoration: none;
}

button .icon,
a.btn .icon, span.btn .icon,
input[type=button] .icon, input[type=reset] .icon, input[type=submit] .icon {
  --size: 1rem;
  width: var(--size, 1rem);
  height: var(--size, 1rem);
}

form:invalid button,
button[aria-disabled],
a.btn[aria-disabled],
span.btn[aria-disabled] {
  opacity: .5;
  cursor: not-allowed;
  filter: grayscale(100%);
}

a.goto-top {
  position: fixed;
  display: flex;
  bottom: 2em;
  right: 2em;
  width: 1em;
  height: 1em;
  justify-content: center;
  border: 0.75em solid var(--primary);
  align-items: center;
  font-size: 200%;
  background-color: var(--primary);
  color: var(--primary-txt);
  border-radius: 50%;
}

@media (prefers-color-scheme: dark) {
  button,
  a.btn, span.btn,
  input[type=button], input[type=reset], input[type=submit] {
    background: none;
  }
}

.icon {
  --size: 1em;
  height: var(--size, 1em);
  min-width: var(--size, 1em);
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: var(--space-1);
}

a .icon.icon-subscribe, a .icon.icon-email, a .icon.icon-calendar, a .icon.icon-pdf {
  margin-right: var(--space-3);
}

a .icon.icon-right {
  margin-left: var(--space-3);
}

body > header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  box-shadow: 0 var(--space-1) var(--space-1) rgba(0, 0, 0, 0.5);
  background: var(--primary);
  color: var(--primary-txt);
}

body > header .top-content {
  max-width: var(--theJdrSize);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

body > header .logo {
  padding: var(--space-2) 0;
}

body > header .logo img {
  height: calc(var(--toolbar-height) - (2 * var(--space-2)));
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));
}

body > header label {
  display: none;
  opacity: .5;
  padding: .1em;
  border: var(--space-2) solid transparent;
  outline-offset: var(--space-2);
}

body > header label .icon {
  --size: 1.5rem;
  height: var(--size, 1.5rem);
  width: var(--size, 1.5rem);
}

body > header label .icon-menu {
  display: block;
}

body > header label .icon-close {
  display: none;
}

body > header label:hover, body > header label:focus {
  opacity: 1;
  outline: thin dotted currentColor;
}

body > header input[type=checkbox]:checked ~ label .icon-menu {
  display: none;
}

body > header input[type=checkbox]:checked ~ label .icon-close {
  display: block;
}

body > header nav {
  display: flex;
  align-items: stretch;
  align-self: stretch;
}

body > header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: stretch;
}

body > header nav li {
  opacity: 0.6;
  transition: all var(--animation);
  border-bottom: thin solid transparent;
  border-radius: 5%;
  margin-right: var(--space-2);
  display: flex;
  align-items: center;
  --angle: 10deg;
  transform: skewX(calc(-1 * var(--angle)));
}

body > header nav li a {
  transform: skewX(var(--angle));
}

body > header nav li.active {
  opacity: 1;
}

body > header nav li.active a {
  border-bottom: thin solid currentColor;
}

body > header nav li.external {
  opacity: 1;
  background: rgba(0, 0, 0, 0.25);
}

body > header nav a {
  display: block;
  text-transform: uppercase;
  padding: 0 var(--space-3);
  text-decoration: none;
  line-height: calc(var(--toolbar-height) - (4 * var(--space-2)));
  color: inherit;
  font-weight: 200;
}

body > header nav a svg {
  max-width: 3ch;
}

body > header nav nav a:focus, body > header nav nav a:hover {
  text-shadow: var(--extruded-dark);
  opacity: 0.75;
}

body > header nav .languages a.lang {
  color: transparent;
  max-width: 2em;
  height: 2em;
  overflow: hidden;
}

body > header nav .languages a.lang::before {
  color: initial;
}

body > header nav .languages a.lang.lang-fr::before {
  content: '🇫🇷';
}

body > header nav .languages a.lang.lang-gb::before {
  content: '🇬🇧';
}

body > header nav .languages a.active {
  display: none;
}

@media (max-width: 71.24em) {
  body > header {
    flex-wrap: wrap;
  }
  body > header label {
    display: block;
  }
  body > header nav {
    display: none;
    width: 100%;
    padding: 0 1em;
    background: var(--primary);
    flex-direction: column;
    justify-content: flex-start;
  }
  body > header nav ul {
    flex-direction: column;
  }
  body > header nav ul li {
    transform: none;
  }
  body > header nav ul li a {
    transform: none;
  }
  body > header nav a {
    padding: var(--space-2) 0;
    width: 100%;
  }
  body > header nav a.active {
    border-bottom-width: thin;
    border-bottom-color: var(--lighten-2);
  }
  body > header nav a:focus, body > header nav a:hover {
    background: var(--darken-1);
  }
  body > header input[type=checkbox]:checked ~ nav {
    display: block;
  }
}

body > footer {
  background-color: var(--footer-bg);
  color: var(--footer-fg);
  font-weight: 200;
  padding: 0.5em 1em;
}

body > footer .bottom-content {
  max-width: var(--theJdrSize);
  margin: 0 auto;
}

body > footer a:hover {
  text-decoration: underline;
}

body > footer .footer-header {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  flex-wrap: wrap;
  text-transform: uppercase;
}

body > footer .footer-header .header {
  margin-right: var(--space-2);
}

body > footer .footer-header > div {
  display: flex;
  align-items: center;
}

body > footer .footer-header > div ul.social-list {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

body > footer .footer-header > div ul.social-list li {
  display: inline-block;
  padding: var(--space-2);
  margin-right: var(--space-3);
}

body > footer .footer-header .follow a.social {
  opacity: 0.75;
  filter: grayscale(1);
  transition: filter var(--animation);
}

body > footer .footer-header .follow a.social:hover, body > footer .footer-header .follow a.social:focus {
  opacity: 1;
  filter: grayscale(0);
}

body > footer .footer-header .blog {
  display: none;
}

body > footer .footer-header .blog a {
  text-decoration: underline;
}

body > footer .footer-header .email a {
  display: flex;
  align-items: center;
}

body > footer .footer-header .email a .icon {
  width: 1em;
  height: 1em;
}

body > footer .footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

body > footer .footer-content section {
  margin: var(--space-2) var(--space-4);
}

@media (max-width: 44.99em) {
  body > footer .footer-content section {
    margin: var(--space-2) 0;
  }
}

body > footer .footer-content section:first-child {
  margin-left: 0;
}

body > footer .footer-content section:last-child {
  margin-right: 0;
}

body > footer .footer-content section .header {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: var(--space-2);
}

body > footer .footer-content section ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: var(--space-1) 0;
  font-weight: 100;
}

body > footer .footer-content section ul li {
  margin: var(--space-2) 0;
}

body > footer .footer-content section ul li a {
  padding: var(--space-3) 0;
}

body > footer .footer-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 44.99em) {
  body > footer .footer-footer {
    flex-direction: column;
    align-items: start;
  }
  body > footer .footer-footer > * {
    margin: var(--space-2) 0;
  }
}

body > footer .footer-footer img {
  height: 2rem;
  width: auto;
}

@media (prefers-color-scheme: dark) {
  .follow a.social {
    filter: grayscale(0.75);
  }
}

a.social {
  display: inline-flex;
  margin: var(--space-1);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  align-items: center;
  text-decoration: none;
  width: 1em;
  overflow: hidden;
}

a.social:focus, a.social:hover {
  text-decoration: underline;
}

.hero h1 {
  padding: 2rem var(--container-margin);
}

.hero .description {
  padding: 2rem var(--container-margin);
  background: var(--color-hero);
  border-top: thin solid var(--darken-1);
  border-bottom: thin solid var(--darken-1);
}

.type-conference {
  --duration: '40';
}

.type-quickie {
  --duration: '15';
}

.type-keynote {
  --duration: '30';
}

.type-office-hours {
  --duration: '30';
}

.tag-method-tools {
  background-color: var(--method-tools);
}

.tag-native-mobile-apps {
  background-color: var(--native-mobile-apps);
}

.tag-web {
  background-color: var(--web);
}

.tag-big-data-ml-ai {
  background-color: var(--big-data-ml-ai);
}

.tag-iot {
  background-color: var(--iot);
}

.tag-cloud-infra {
  background-color: var(--cloud);
}

.tag-languages {
  background-color: var(--languages);
}

.tag-wtf {
  background-color: var(--wtf);
}

.tag-keynote {
  background-color: var(--keynote);
}

.tag-office-hours {
  background-color: var(--office-hours);
}

.tag-general {
  background-color: var(--general);
}

section .tags {
  padding: var(--space-1);
  border-radius: var(--space-2);
  background: var(--darken-1);
  border: thin solid var(--darken-2);
  text-shadow: var(--extruded-light);
}

.tag-open {
  background-image: url("/images/backgrounds/open.jpg");
}

.tag-pause {
  background-image: url("/images/backgrounds/pause.jpg");
}

.tag-lunch {
  background-image: url("/images/backgrounds/lunch.jpg");
}

.tag-party {
  background-image: url("/images/backgrounds/party.jpg");
}

.section.schedule .hero .description {
  display: flex;
}

.section.schedule .hero .description p + p {
  margin-left: 1em;
}

.section.schedule nav.day-tabs {
  font-size: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
  padding: var(--space-3) var(--container-margin);
}

.section.schedule nav.day-tabs a {
  flex-grow: 1;
  margin: var(--space-2) var(--space-4);
  border-radius: var(--space-3);
  text-align: center;
  color: var(--primary);
  background-color: var(--primary-txt);
}

.section.schedule nav.day-tabs a.active {
  background-color: var(--primary);
  color: var(--primary-txt);
}

.section.schedule main > section.schedule {
  margin: 1rem 2rem 2rem;
  padding: var(--space-3) var(--container-margin);
}

.section.schedule main > section.schedule .day {
  display: none;
}

.section.schedule main > section.schedule .day:target {
  display: block;
}

.section.schedule h2 {
  display: none;
}

.section.schedule .room {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: var(--primary);
  background-color: var(--primary-txt);
  margin: .125em;
}

.section.schedule .room h3 {
  border: medium solid currentColor;
  border-radius: var(--space-3);
  background-color: var(--primary-txt);
  font-size: 1.25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--space-3);
  height: 3em;
  font-weight: bold;
}

.section.schedule .room h3 small {
  font-size: .75em;
  font-weight: normal;
}

.section.schedule .start, .section.schedule .slot {
  font-size: 2em;
  color: var(--base-secondary-text);
}

.section.schedule .start .mm, .section.schedule .slot .mm {
  font-size: 50%;
}

.section.schedule .start {
  position: absolute;
  top: 0;
  left: -3.5ch;
}

.section.schedule .slot {
  display: none;
}

.section.schedule .session {
  position: relative;
  margin: 1rem 1rem 1rem 5ch;
  border-radius: var(--space-2);
}

.section.schedule .session.tag-open, .section.schedule .session.tag-pause, .section.schedule .session.tag-lunch, .section.schedule .session.tag-party {
  background-position: center center;
  background-size: cover;
  pointer-events: none;
}

.section.schedule .session.tag-open > a, .section.schedule .session.tag-pause > a, .section.schedule .session.tag-lunch > a, .section.schedule .session.tag-party > a {
  box-shadow: none;
}

.section.schedule .session.tag-open h4, .section.schedule .session.tag-pause h4, .section.schedule .session.tag-lunch h4, .section.schedule .session.tag-party h4 {
  color: white;
  text-shadow: 2px 1px 1px black;
}

.section.schedule .session.tag-open .tags, .section.schedule .session.tag-pause .tags, .section.schedule .session.tag-lunch .tags, .section.schedule .session.tag-party .tags, .section.schedule .session.tag-office-hours .tags {
  display: none;
}

.section.schedule .session .slot {
  display: none;
}

.section.schedule .session > a {
  border: thin solid var(--darken-1);
  box-shadow: var(--space-1) var(--space-1) var(--space-2) var(--darken-2);
  transition: box-shadow var(--animation);
  border-radius: var(--space-2);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  height: 100%;
}

.section.schedule .session > a:hover, .section.schedule .session > a:focus {
  box-shadow: var(--space-2) var(--space-2) var(--space-2) var(--darken-3);
}

.section.schedule .session > a h4, .section.schedule .session > a .info {
  padding: var(--space-2);
}

.section.schedule .session > a h4 {
  text-shadow: 2px 1px 1px white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section.schedule .session > a hr {
  width: calc(100% - var(--space-3));
  margin: 0 auto;
}

.section.schedule .session > a .info {
  flex-grow: 1;
}

.section.schedule .session > a .info .complexity, .section.schedule .session > a .info .video, .section.schedule .session > a .info .presentation {
  float: left;
  clear: left;
  display: inline;
  max-height: 1.5em;
}

.section.schedule .session > a .info .complexity svg, .section.schedule .session > a .info .video svg, .section.schedule .session > a .info .presentation svg {
  height: 1.5em;
  max-width: 1.5em;
}

.section.schedule .session > a .info .tags {
  float: right;
}

.section.schedule .session > a .speakers {
  border: thin solid transparent;
  border-top: thin solid var(--darken-1);
  border-radius: var(--space-2);
  background: var(--base);
  padding: 0;
  margin: 0;
  list-style: none;
}

.section.schedule .session > a .speaker {
  display: flex;
  align-items: center;
  padding: var(--space-1) var(--space-3);
}

.section.schedule .session > a .speaker .speaker-img {
  --img-size: 2rem;
  height: var(--img-size, 3rem);
  min-width: var(--img-size, 3rem);
  border-radius: 100%;
  background-size: cover;
  margin-right: var(--space-4);
}

.section.schedule .session > a .speaker .info {
  display: flex;
  flex-direction: column;
}

.section.schedule .session > a .speaker .speaker-company {
  flex-grow: 1;
  text-align: right;
  margin-left: var(--space-3);
}

.section.schedule .session > a .speaker p {
  max-width: 320px;
}

@supports (grid-template-columns: repeat(calc(var(--rooms) + 1), 1fr)) {
  .section.schedule main > section.schedule .day {
    grid-template-columns: auto repeat(var(--rooms), 1fr);
    --dayStart: 60 * var(--dayStartH) + var(--dayStartM);
    --dayEnd: 60 * var(--dayEndH) + var(--dayEndM);
    grid-template-rows: 4em repeat(calc(var(--end) - 1), var(--base-grid-height, 6em));
    grid-gap: .125em .25em;
  }
  .section.schedule main > section.schedule .day:target {
    display: grid;
  }
  .section.schedule main > section.schedule .day .slot {
    display: block;
    grid-column: 1 / 2;
    --start: calc(1 + var(--row-start));
    --end: calc(1 + var(--row-end));
    grid-row: var(--start)/var(--end);
    background-color: var(--color-hero);
  }
  .section.schedule main > section.schedule .day .room {
    grid-column: calc(var(--room) + 2);
    grid-row: 1 / -1;
  }
  .section.schedule main > section.schedule .day .room.even {
    background-color: var(--color-hero);
  }
  .section.schedule main > section.schedule .day .session {
    margin: .125em;
    z-index: 2;
    --start: calc(1 + var(--row-start));
    --end: calc(1 + var(--row-end));
    grid-column: calc(var(--room) + 2);
    grid-row: var(--start)/var(--end);
  }
  .section.schedule main > section.schedule .day .session.tag-pause {
    z-index: 0;
    grid-column: 2 / -1;
  }
  .section.schedule main > section.schedule .day .session.tag-open h4, .section.schedule main > section.schedule .day .session.tag-lunch h4, .section.schedule main > section.schedule .day .session.tag-party h4 {
    font-size: 2em;
  }
  .section.schedule main > section.schedule .day .session.tag-open, .section.schedule main > section.schedule .day .session.tag-lunch, .section.schedule main > section.schedule .day .session.tag-party {
    grid-column: 2 / -1;
    z-index: 1;
  }
  .section.schedule main > section.schedule .day .session.tag-office-hours {
    margin: var(--space-3);
  }
  .section.schedule main > section.schedule .day .session.tag-office-hours .speakers.multi {
    padding-top: .125em;
    flex-wrap: wrap;
  }
  .section.schedule main > section.schedule .day .session .start {
    display: none;
  }
  .section.schedule main > section.schedule .day .session .speakers.multi {
    display: flex;
    justify-content: space-evenly;
  }
  .section.schedule main > section.schedule .day .session .speakers.multi .speaker {
    position: relative;
    border-top: none;
  }
  .section.schedule main > section.schedule .day .session .speakers.multi .speaker .speaker-img {
    margin-right: var(--space-1);
  }
  .section.schedule main > section.schedule .day .session .speakers.multi .speaker .speaker-name {
    background: var(--base);
    z-index: 100;
    border-radius: var(--space-2);
    border: thin solid var(--darken-1);
    box-shadow: 1px 1px var(--space-1) var(--darken-1);
    padding: var(--space-1);
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%) translateY(-75%);
    display: none;
  }
  .section.schedule main > section.schedule .day .session .speakers.multi .speaker:focus .speaker-name, .section.schedule main > section.schedule .day .session .speakers.multi .speaker:hover .speaker-name {
    display: block;
  }
  .section.schedule main > section.schedule.horizontal .day {
    overflow: auto;
    grid-template-rows: auto repeat(var(--rooms), 1fr);
    --dayStart: 60 * var(--dayStartH) + var(--dayStartM);
    --dayEnd: 60 * var(--dayEndH) + var(--dayEndM);
    grid-template-columns: 7em repeat(calc(var(--end) - 1), var(--base-grid-height, 6em));
    grid-auto-flow: dense;
  }
  .section.schedule main > section.schedule.horizontal .day .slot {
    display: block;
    grid-row: 1 / 2;
    --start: calc(1 + var(--row-start));
    --end: calc(1 + var(--row-end));
    grid-column: var(--start)/var(--end);
    background-color: var(--color-hero);
  }
  .section.schedule main > section.schedule.horizontal .day .room {
    grid-row: calc(var(--room) + 2);
    grid-column: 1 / -1;
    justify-content: flex-start;
  }
  .section.schedule main > section.schedule.horizontal .day .room h3 {
    padding: .25em;
    height: 100%;
    width: 5.5em;
    max-width: 5.5em;
    text-align: center;
    text-orientation: upright;
  }
  .section.schedule main > section.schedule.horizontal .day .session {
    --start: calc(1 + var(--row-start));
    --end: calc(1 + var(--row-end));
    grid-row: calc(var(--room) + 2);
    grid-column: var(--start)/var(--end);
  }
  .section.schedule main > section.schedule.horizontal .day .session.tag-open, .section.schedule main > section.schedule.horizontal .day .session.tag-pause, .section.schedule main > section.schedule.horizontal .day .session.tag-lunch, .section.schedule main > section.schedule.horizontal .day .session.tag-party {
    grid-row: 2 / -1;
  }
  .section.schedule main > section.schedule.horizontal .day .session h4 {
    overflow: hidden;
  }
}

@media (max-width: 79.99em) {
  .section.schedule main > section.schedule {
    --container-margin: 0em;
  }
}

@media (max-width: 59.99em) {
  .section.schedule main > section.schedule .day .session {
    --container-margin: 0em;
    margin: 1rem .5rem 2rem 2.25em;
  }
  .section.schedule main > section.schedule .day .session .start {
    display: block;
  }
  @supports (grid-template-columns: repeat(calc(var(--rooms) + 1), 1fr)) {
    .section.schedule main > section.schedule .day:target {
      display: flex;
      flex-direction: column;
    }
    .section.schedule main > section.schedule .day .slot {
      display: none;
    }
    .section.schedule main > section.schedule .day .room {
      align-items: flex-start;
      margin-top: 1em;
    }
  }
}

@media print {
  .section.schedule main section.schedule .session {
    font-size: 24px;
  }
  .section.schedule main section.schedule .session.format-quickie {
    font-size: 18px;
  }
  .section.schedule main section.schedule .session a, .section.schedule main section.schedule .session h4 {
    background: inherit;
    text-shadow: none;
    box-shadow: none;
  }
  .section.schedule main > section.schedule .day .session .speakers.multi {
    display: block;
  }
  .section.schedule main > section.schedule .day .session .speakers.multi .speaker .speaker-name {
    position: relative;
    transform: none;
    border: none;
    display: block;
    box-shadow: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: #FFF;
    --base-text: #424242;
    --primary: #593a9f;
    --base-secondary-text: #636363;
    --link-secondary-text: #424242;
    --toc-text: #64b5f6;
    --color-hero: ghostwhite;
    --lighten-1: rgba(0, 0, 0, .125);
    --lighten-2: rgba(0, 0, 0, .25);
    --lighten-3: rgba(0, 0, 0, .5);
    --darken-1: hsla(0, 100%, 100%, .125);
    --darken-2: hsla(0, 100%, 100%, .25);
    --darken-3: hsla(0, 100%, 100%, .5);
    --footer-bg: #000;
    --footer-fg: #777;
  }
}

:root {
  --primary: #593a9f;
  --primary-txt: #fff;
  --accent: grey;
  --accent-txt: #fff;
  --base: #FFF;
  --base-text: #424242;
  --base-secondary-text: #636363;
  --link-secondary-text: #424242;
  --partner-support-height: 90px;
  --partner-font-size-venue: 1.5rem;
  --partner-font-size-titanium: 1.75rem;
  --partner-font-size-platinum: 1.5rem;
  --partner-font-size-gold: 1.25rem;
  --partner-font-size-silver: 1rem;
  --partner-venue-height: calc(var(--partner-support-height) * 2.25);
  --partner-titanium-height: calc(var(--partner-support-height) * 2);
  --partner-platinum-height: calc(var(--partner-support-height) * 1.5);
  --partner-gold-height: calc(var(--partner-support-height) * 1.25);
  --partner-silver-height: calc(var(--partner-support-height) * 1);
}

.partners-group.partner-venue ul li {
  height: var(--partner-venue-height);
  flex-basis: 600px;
}

.partners-group.partner-titanium ul li {
  height: var(--partner-titanium-height);
  flex-basis: 500px;
}

.partners-group.partner-platinum ul li {
  height: var(--partner-platinum-height);
  flex-basis: 400px;
}

.partners-group.partner-gold ul li {
  height: var(--partner-gold-height);
  flex-basis: 300px;
}

.partners-group.partner-silver ul li {
  height: var(--partner-silver-height);
  flex-basis: 200px;
}

.partners-group.partner-venue .fancy {
  font-size: var(--partner-font-size-venue);
  color: var(--color-venue);
}

.partners-group.partner-venue .fancy span:before, .partners-group.partner-venue .fancy span:after {
  border-bottom: 2px solid currentColor;
  border-top: 2px solid currentColor;
}

.partners-group.partner-titanium .fancy {
  font-size: var(--partner-font-size-titanium);
  color: var(--color-titanium);
}

.partners-group.partner-titanium .fancy span:before, .partners-group.partner-titanium .fancy span:after {
  border-bottom: 2px solid currentColor;
  border-top: 2px solid currentColor;
}

.partners-group.partner-platinum .fancy {
  font-size: var(--partner-font-size-platinum);
  color: var(--color-platinum);
}

.partners-group.partner-platinum .fancy span:before, .partners-group.partner-platinum .fancy span:after {
  border-bottom: 1px solid currentColor;
  border-top: 1px solid currentColor;
}

.partners-group.partner-gold .fancy {
  font-size: var(--partner-font-size-gold);
  color: var(--color-gold);
}

.partners-group.partner-gold .fancy span:before, .partners-group.partner-gold .fancy span:after {
  top: 20%;
  border-bottom: 1px solid currentColor;
}

.partners-group.partner-silver .fancy {
  font-size: var(--partner-font-size-silver);
  color: var(--color-silver);
}

.home main .location .description {
  right: 4rem;
}

@supports (grid-template-columns: repeat(5, 1fr)) {
  .album {
    grid-template-rows: repeat(2, 30vh);
  }
}

a.btn.primary {
  background-color: grey;
  font-size: 3.5rem;
  border: none;
  background-color: #ddd;
  color: black;
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: table-cell;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
