@charset "UTF-8";
:root {
  --primary: #1976d2;
  --primary-txt: #fff;
  --accent: grey;
  --accent-txt: #fff;
  --base: #FFF;
  --base-text: #424242;
  --base-secondary-text: #636363;
  --link-secondary-text: #424242;
  --toc-text: var(--primary);
  --darken-1: rgba(0, 0, 0, .125);
  --darken-2: rgba(0, 0, 0, .25);
  --darken-3: rgba(0, 0, 0, .5);
  --lighten-1: hsla(0, 100%, 100%, .125);
  --lighten-2: hsla(0, 100%, 100%, .25);
  --lighten-3: hsla(0, 100%, 100%, .5);
  --color-hero: ghostwhite;
  --color-platium: #73737a;
  --color-gold: #b7935b;
  --color-error: firebrick;
  --space-1: .125rem;
  --space-2: .25rem;
  --space-3: .5rem;
  --space-4: 1rem;
  --theJdrSize: 1100px;
  --block-text-max-width: 60rem;
  --breakpoint-sm: 34.375rem;
  --breakpoint-md: 45rem;
  --breakpoint-lg: 60rem;
  --breakpoint-xl: 71.25rem;
  --container-margin: 10vw;
  --container-margin-mobile: 3vw;
  --toolbar-height: 3.25rem;
  --font-family: 'Roboto', sans-serif;
  /* Tags */
  /*from https://github.com/d3/d3-scale-chromatic#schemePastel2*/
  --tag1: #b3e2cd;
  --tag2: #fdcdac;
  --tag3: #cbd5e8;
  --tag4: #f4cae4;
  --tag5: #e6f5c9;
  --tag6: #fff2ae;
  --tag7: #f1e2cc;
  --tag8: #cccccc;
  --native-mobile-apps: var(--tag2);
  --web: var(--tag6);
  --method-tools: var(--tag5);
  --big-data-ml-ai: var(--tag3);
  --iot: var(--tag8);
  --cloud: var(--tag4);
  --languages: var(--tag1);
  --wtf: var(--tag7);
  --general: var(--tag8);
  --office-hours: floralwhite;
  --keynote: paleturquoise;
  /* Jumbo section */
  --jumbo-logo-width: 800px;
  --jumbo-overlay-opacity: 0.6;
  /* Partners */
  --partner-support-height: 60px;
  --partner-platinum-height: calc(var(--partner-support-height) * 3);
  --partner-gold-height: calc(var(--partner-support-height) * 2);
  --animation: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  --extruded-dark: 1px 0 0 var(--darken-3);
  --extruded-light: 1px 0 0 var(--lighten-3);
  --box-shadow-1: 0 0 2px 0 rgba(0, 0, 0, 0.07), 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  --box-shadow-2: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  /* Mark */
  --fg-mark-a: white;
  --bg-mark-a: #fb2c17;
  --fg-mark-b: black;
  --bg-mark-b: #ffcc00;
  --fg-mark-t2: white;
  --bg-mark-t2: #11a7e0;
  /* Schedule */
  --base-grid-height: 4.5em;
  /* Footer */
  --footer-bg: #222;
  --footer-fg: #8a8a8a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: #222;
    --base-text: #ddd;
    --primary: #0d47a1;
    --toc-text: #64b5f6;
    --color-hero: #181818;
    --lighten-1: rgba(0, 0, 0, .125);
    --lighten-2: rgba(0, 0, 0, .25);
    --lighten-3: rgba(0, 0, 0, .5);
    --darken-1: hsla(0, 100%, 100%, .125);
    --darken-2: hsla(0, 100%, 100%, .25);
    --darken-3: hsla(0, 100%, 100%, .5);
    --footer-bg: #000;
    --footer-fg: #777;
  }
}

html {
  box-sizing: border-box;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--darken-2);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  outline: thin dotted var(--darken-3);
  outline-offset: var(--space-1);
}

body {
  background: var(--base);
  color: var(--base-text);
  margin: var(--toolbar-height) 0 0;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--toolbar-height));
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

hr {
  border-color: var(--darken-1);
  opacity: .25;
}

p {
  line-height: 1.25;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

.content a, .content a:visited {
  color: var(--toc-text);
}

.language.english::before {
  content: '🇬🇧';
}

.visually-hidden {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

body > main > section.container, body > header.container, body > footer.container {
  padding: 4rem var(--container-margin);
}

body > main {
  flex-grow: 1;
}

body > main > section {
  margin: 2rem var(--container-margin);
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 44.99em) {
  body > main > section {
    margin: 1rem;
  }
}

body > main > section.primary {
  background-color: var(--primary);
  color: var(--primary-txt);
}

body > main > section.accent {
  background-color: var(--accent);
  color: var(--accent-txt);
}

button,
a.btn, span.btn,
input[type=button], input[type=reset], input[type=submit] {
  display: inline-flex;
  align-items: center;
  border: thin solid var(--darken-3);
  background: var(--darken-1);
  padding: var(--space-3);
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .875rem;
  font-weight: 100;
  cursor: pointer;
  text-shadow: var(--extruded-light);
  --focus-color: var(--darken-1);
  --active-color: var(--darken-1);
}

button.btn-lg,
a.btn.btn-lg, span.btn.btn-lg,
input[type=button].btn-lg, input[type=reset].btn-lg, input[type=submit].btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

button.primary,
a.btn.primary, span.btn.primary,
input[type=button].primary, input[type=reset].primary, input[type=submit].primary {
  background-color: var(--primary);
  color: var(--primary-txt);
  text-shadow: var(--extruded-dark);
  --focus-color: var(--lighten-1);
  --active-color: var(--lighten-1);
}

button.btn-icon-only,
a.btn.btn-icon-only, span.btn.btn-icon-only,
input[type=button].btn-icon-only, input[type=reset].btn-icon-only, input[type=submit].btn-icon-only {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--lighten-1);
  border-radius: 50%;
  margin-left: 1ch;
  padding: var(--space-2);
  border-color: transparent;
}

button.btn-icon-only .icon,
a.btn.btn-icon-only .icon, span.btn.btn-icon-only .icon,
input[type=button].btn-icon-only .icon, input[type=reset].btn-icon-only .icon, input[type=submit].btn-icon-only .icon {
  margin: var(--space-2);
  --size: 1.5rem;
  width: var(--size, 1.5rem);
  height: var(--size, 1.5rem);
  display: inline-block;
  content: '';
  background-repeat: no-repeat;
}

button:hover, button:focus,
a.btn:hover,
a.btn:focus, span.btn:hover, span.btn:focus,
input[type=button]:hover,
input[type=button]:focus, input[type=reset]:hover, input[type=reset]:focus, input[type=submit]:hover, input[type=submit]:focus {
  background-image: linear-gradient(to right, var(--focus-color), var(--focus-color) 100%);
  text-decoration: none;
}

button .icon,
a.btn .icon, span.btn .icon,
input[type=button] .icon, input[type=reset] .icon, input[type=submit] .icon {
  --size: 1rem;
  width: var(--size, 1rem);
  height: var(--size, 1rem);
}

form:invalid button,
button[aria-disabled],
a.btn[aria-disabled],
span.btn[aria-disabled] {
  opacity: .5;
  cursor: not-allowed;
  filter: grayscale(100%);
}

a.goto-top {
  position: fixed;
  display: flex;
  bottom: 2em;
  right: 2em;
  width: 1em;
  height: 1em;
  justify-content: center;
  border: 0.75em solid var(--primary);
  align-items: center;
  font-size: 200%;
  background-color: var(--primary);
  color: var(--primary-txt);
  border-radius: 50%;
}

@media (prefers-color-scheme: dark) {
  button,
  a.btn, span.btn,
  input[type=button], input[type=reset], input[type=submit] {
    background: none;
  }
}

.icon {
  --size: 1em;
  height: var(--size, 1em);
  min-width: var(--size, 1em);
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: var(--space-1);
}

a .icon.icon-subscribe, a .icon.icon-email, a .icon.icon-calendar, a .icon.icon-pdf {
  margin-right: var(--space-3);
}

a .icon.icon-right {
  margin-left: var(--space-3);
}

body > header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  box-shadow: 0 var(--space-1) var(--space-1) rgba(0, 0, 0, 0.5);
  background: var(--primary);
  color: var(--primary-txt);
}

body > header .top-content {
  max-width: var(--theJdrSize);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

body > header .logo {
  padding: var(--space-2) 0;
}

body > header .logo img {
  height: calc(var(--toolbar-height) - (2 * var(--space-2)));
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));
}

body > header label {
  display: none;
  opacity: .5;
  padding: .1em;
  border: var(--space-2) solid transparent;
  outline-offset: var(--space-2);
}

body > header label .icon {
  --size: 1.5rem;
  height: var(--size, 1.5rem);
  width: var(--size, 1.5rem);
}

body > header label .icon-menu {
  display: block;
}

body > header label .icon-close {
  display: none;
}

body > header label:hover, body > header label:focus {
  opacity: 1;
  outline: thin dotted currentColor;
}

body > header input[type=checkbox]:checked ~ label .icon-menu {
  display: none;
}

body > header input[type=checkbox]:checked ~ label .icon-close {
  display: block;
}

body > header nav {
  display: flex;
  align-items: stretch;
  align-self: stretch;
}

body > header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: stretch;
}

body > header nav li {
  opacity: 0.6;
  transition: all var(--animation);
  border-bottom: thin solid transparent;
  border-radius: 5%;
  margin-right: var(--space-2);
  display: flex;
  align-items: center;
  --angle: 10deg;
  transform: skewX(calc(-1 * var(--angle)));
}

body > header nav li a {
  transform: skewX(var(--angle));
}

body > header nav li.active {
  opacity: 1;
}

body > header nav li.active a {
  border-bottom: thin solid currentColor;
}

body > header nav li.external {
  opacity: 1;
  background: rgba(0, 0, 0, 0.25);
}

body > header nav a {
  display: block;
  text-transform: uppercase;
  padding: 0 var(--space-3);
  text-decoration: none;
  line-height: calc(var(--toolbar-height) - (4 * var(--space-2)));
  color: inherit;
  font-weight: 200;
}

body > header nav a svg {
  max-width: 3ch;
}

body > header nav nav a:focus, body > header nav nav a:hover {
  text-shadow: var(--extruded-dark);
  opacity: 0.75;
}

body > header nav .languages a.lang {
  color: transparent;
  max-width: 2em;
  height: 2em;
  overflow: hidden;
}

body > header nav .languages a.lang::before {
  color: initial;
}

body > header nav .languages a.lang.lang-fr::before {
  content: '🇫🇷';
}

body > header nav .languages a.lang.lang-gb::before {
  content: '🇬🇧';
}

body > header nav .languages a.active {
  display: none;
}

@media (max-width: 71.24em) {
  body > header {
    flex-wrap: wrap;
  }
  body > header label {
    display: block;
  }
  body > header nav {
    display: none;
    width: 100%;
    padding: 0 1em;
    background: var(--primary);
    flex-direction: column;
    justify-content: flex-start;
  }
  body > header nav ul {
    flex-direction: column;
  }
  body > header nav ul li {
    transform: none;
  }
  body > header nav ul li a {
    transform: none;
  }
  body > header nav a {
    padding: var(--space-2) 0;
    width: 100%;
  }
  body > header nav a.active {
    border-bottom-width: thin;
    border-bottom-color: var(--lighten-2);
  }
  body > header nav a:focus, body > header nav a:hover {
    background: var(--darken-1);
  }
  body > header input[type=checkbox]:checked ~ nav {
    display: block;
  }
}

body > footer {
  background-color: var(--footer-bg);
  color: var(--footer-fg);
  font-weight: 200;
  padding: 0.5em 1em;
}

body > footer .bottom-content {
  max-width: var(--theJdrSize);
  margin: 0 auto;
}

body > footer a:hover {
  text-decoration: underline;
}

body > footer .footer-header {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  flex-wrap: wrap;
  text-transform: uppercase;
}

body > footer .footer-header .header {
  margin-right: var(--space-2);
}

body > footer .footer-header > div {
  display: flex;
  align-items: center;
}

body > footer .footer-header > div ul.social-list {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

body > footer .footer-header > div ul.social-list li {
  display: inline-block;
  padding: var(--space-2);
  margin-right: var(--space-3);
}

body > footer .footer-header .follow a.social {
  opacity: 0.75;
  filter: grayscale(1);
  transition: filter var(--animation);
}

body > footer .footer-header .follow a.social:hover, body > footer .footer-header .follow a.social:focus {
  opacity: 1;
  filter: grayscale(0);
}

body > footer .footer-header .blog {
  display: none;
}

body > footer .footer-header .blog a {
  text-decoration: underline;
}

body > footer .footer-header .email a {
  display: flex;
  align-items: center;
}

body > footer .footer-header .email a .icon {
  width: 1em;
  height: 1em;
}

body > footer .footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

body > footer .footer-content section {
  margin: var(--space-2) var(--space-4);
}

@media (max-width: 44.99em) {
  body > footer .footer-content section {
    margin: var(--space-2) 0;
  }
}

body > footer .footer-content section:first-child {
  margin-left: 0;
}

body > footer .footer-content section:last-child {
  margin-right: 0;
}

body > footer .footer-content section .header {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: var(--space-2);
}

body > footer .footer-content section ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: var(--space-1) 0;
  font-weight: 100;
}

body > footer .footer-content section ul li {
  margin: var(--space-2) 0;
}

body > footer .footer-content section ul li a {
  padding: var(--space-3) 0;
}

body > footer .footer-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 44.99em) {
  body > footer .footer-footer {
    flex-direction: column;
    align-items: start;
  }
  body > footer .footer-footer > * {
    margin: var(--space-2) 0;
  }
}

body > footer .footer-footer img {
  height: 2rem;
  width: auto;
}

@media (prefers-color-scheme: dark) {
  .follow a.social {
    filter: grayscale(0.75);
  }
}

a.social {
  display: inline-flex;
  margin: var(--space-1);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  align-items: center;
  text-decoration: none;
  width: 1em;
  overflow: hidden;
}

a.social:focus, a.social:hover {
  text-decoration: underline;
}

.partners-group h3 {
  text-align: center;
  margin: var(--space-4) 0;
}

.partners-group ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.partners-group ul li {
  flex-basis: 160px;
  margin: var(--space-3);
  height: var(--partner-support-height);
}

.partners-group .partner {
  padding: var(--space-3);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  background-color: ghostwhite;
  box-shadow: var(--box-shadow-1);
  transition: box-shadow var(--animation);
  cursor: pointer;
  color: transparent;
  overflow: hidden;
}

.partners-group .partner:hover, .partners-group .partner:focus {
  box-shadow: var(--box-shadow-2);
}

.partners-group .partner picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners-group .partner picture > * {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: 50% 50%;
}

.partners-group.partner-platinium ul li {
  height: var(--partner-platinum-height);
  flex-basis: 320px;
}

.partners-group.partner-gold ul li, .partners-group.partner-startup ul li {
  height: var(--partner-gold-height);
  flex-basis: 200px;
}

/* Partner fancy name */
.partners-group .fancy {
  line-height: 0.5;
  text-align: center;
  color: var(--base-secondary-text);
}

.partners-group .fancy span {
  display: inline-block;
  position: relative;
  text-transform: capitalize;
}

.partners-group .fancy span:before, .partners-group .fancy span:after {
  top: 40%;
  content: "";
  position: absolute;
  height: 5px;
  width: 140%;
  max-width: 25vw;
}

.partners-group .fancy span:before {
  right: 100%;
  margin-right: 15px;
}

.partners-group .fancy span:after {
  left: 100%;
  margin-left: 15px;
}

.partners-group.partner-platinium .fancy {
  font-size: 1.5em;
  color: var(--color-platium);
}

.partners-group.partner-platinium .fancy span:before, .partners-group.partner-platinium .fancy span:after {
  border-bottom: 1px solid currentColor;
  border-top: 1px solid currentColor;
}

.partners-group.partner-gold .fancy {
  font-size: 1.33em;
  color: var(--color-gold);
}

.partners-group.partner-gold .fancy span:before, .partners-group.partner-gold .fancy span:after {
  top: 20%;
  border-bottom: 1px solid currentColor;
}

.page.partners .content img {
  width: 50vw;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: #FFF;
    --base-text: #424242;
    --primary: #593a9f;
    --base-secondary-text: #636363;
    --link-secondary-text: #424242;
    --toc-text: #64b5f6;
    --color-hero: ghostwhite;
    --lighten-1: rgba(0, 0, 0, .125);
    --lighten-2: rgba(0, 0, 0, .25);
    --lighten-3: rgba(0, 0, 0, .5);
    --darken-1: hsla(0, 100%, 100%, .125);
    --darken-2: hsla(0, 100%, 100%, .25);
    --darken-3: hsla(0, 100%, 100%, .5);
    --footer-bg: #000;
    --footer-fg: #777;
  }
}

:root {
  --primary: #593a9f;
  --primary-txt: #fff;
  --accent: grey;
  --accent-txt: #fff;
  --base: #FFF;
  --base-text: #424242;
  --base-secondary-text: #636363;
  --link-secondary-text: #424242;
  --partner-support-height: 90px;
  --partner-font-size-venue: 1.5rem;
  --partner-font-size-titanium: 1.75rem;
  --partner-font-size-platinum: 1.5rem;
  --partner-font-size-gold: 1.25rem;
  --partner-font-size-silver: 1rem;
  --partner-venue-height: calc(var(--partner-support-height) * 2.25);
  --partner-titanium-height: calc(var(--partner-support-height) * 2);
  --partner-platinum-height: calc(var(--partner-support-height) * 1.5);
  --partner-gold-height: calc(var(--partner-support-height) * 1.25);
  --partner-silver-height: calc(var(--partner-support-height) * 1);
}

.partners-group.partner-venue ul li {
  height: var(--partner-venue-height);
  flex-basis: 600px;
}

.partners-group.partner-titanium ul li {
  height: var(--partner-titanium-height);
  flex-basis: 500px;
}

.partners-group.partner-platinum ul li {
  height: var(--partner-platinum-height);
  flex-basis: 400px;
}

.partners-group.partner-gold ul li {
  height: var(--partner-gold-height);
  flex-basis: 300px;
}

.partners-group.partner-silver ul li {
  height: var(--partner-silver-height);
  flex-basis: 200px;
}

.partners-group.partner-venue .fancy {
  font-size: var(--partner-font-size-venue);
  color: var(--color-venue);
}

.partners-group.partner-venue .fancy span:before, .partners-group.partner-venue .fancy span:after {
  border-bottom: 2px solid currentColor;
  border-top: 2px solid currentColor;
}

.partners-group.partner-titanium .fancy {
  font-size: var(--partner-font-size-titanium);
  color: var(--color-titanium);
}

.partners-group.partner-titanium .fancy span:before, .partners-group.partner-titanium .fancy span:after {
  border-bottom: 2px solid currentColor;
  border-top: 2px solid currentColor;
}

.partners-group.partner-platinum .fancy {
  font-size: var(--partner-font-size-platinum);
  color: var(--color-platinum);
}

.partners-group.partner-platinum .fancy span:before, .partners-group.partner-platinum .fancy span:after {
  border-bottom: 1px solid currentColor;
  border-top: 1px solid currentColor;
}

.partners-group.partner-gold .fancy {
  font-size: var(--partner-font-size-gold);
  color: var(--color-gold);
}

.partners-group.partner-gold .fancy span:before, .partners-group.partner-gold .fancy span:after {
  top: 20%;
  border-bottom: 1px solid currentColor;
}

.partners-group.partner-silver .fancy {
  font-size: var(--partner-font-size-silver);
  color: var(--color-silver);
}

.home main .location .description {
  right: 4rem;
}

@supports (grid-template-columns: repeat(5, 1fr)) {
  .album {
    grid-template-rows: repeat(2, 30vh);
  }
}

a.btn.primary {
  background-color: grey;
  font-size: 3.5rem;
  border: none;
}
